fastapi==0.111.0
pydantic==2.7.2
uvicorn==0.27.1
sqlalchemy==1.4.25
psycopg2-binary==2.9.6    #linux/mac user use: psycopg2-binary==2.9.6
python-dotenv==1.0.0
python-jose
passlib==1.7.4
PyJWT
python-decouple
python-multipart
requests
starlette==0.37.2
pytest==8.2.0
httpx >= 0.20.0
coverage
pytest-asyncio
pylint
pytest-cov==5.0.0
locust